<template>
  <v-app>
    <v-main class="pt-0">
      <HomeSection />
      <AboutSection />
      <SubscribeSection />
    </v-main>
  </v-app>
</template>

<script>
import HomeSection from "../components/home/HomeSection";
import AboutSection from "../components/home/AboutSection.vue";
import SubscribeSection from "../components/home/SubscribeSection.vue";

export default {
  name: "Home",
  components: {
    HomeSection,
    AboutSection,
    SubscribeSection,
  },
};
</script>
