<template>
  <v-container>
    <v-container class="pb-0 d-flex flex-column">
      <span class="mt-2 text-h4 ml-3 mb-1">
        <v-icon color="secondary" large> mdi-food-apple</v-icon>
        Tous les produits
      </span>
      <QuickList
        title="Sélectionner une liste à compléter"
        image="mdi-cart"
        @selectedItem="selectedList"
        class="ml-3"
      />
    </v-container>
    <CardList
      :items="items"
      @selectedPage="requestPage"
      @orderFilter="orderFilter"
      @sectionFilter="sectionFilter"
      @categoryFilter="categoryFilter"
      @brandFilter="brandFilter"
      :length="nbPage"
      :pageMode="pageMode"
      :itemsPerPage="itemsPerPage"
      :currentList="currentList"
      :sections="sections"
      :categories="categories"
      :brands="brands"
    />
  </v-container>
</template>

<script>
import QuickList from "@/components/lists/QuickList.vue";
import CardList from "@/components/lists/CardList.vue";
import { bus } from "@/main";

export default {
  name: "ItemsListView",
  components: {
    QuickList,
    CardList,
  },
  data: () => {
    return {
      response: {},
      items: [],
      sections: {},
      categories: {},
      brands: {},
      pageMode: "items",
      itemsPerPage: 12,
      nbPage: 1,
      filters: {
        skip: "0",
      },
      currentList: null,
    };
  },
  created() {
    bus.$on("searchItem", (data) => {
      this.filters.search = data;
      this.filters.skip = 0;
      this.getItems();
    });
  },
  mounted() {
    if (this.$route.params.search !== undefined) {
      this.filters.search = this.$route.params.search;
      this.filters.skip = 0;
    }
    this.getItems();
  },
  methods: {
    getItems() {
      this.filters.limit = this.itemsPerPage;
      this.items = null;

      this.$http
        .post("/items/filters/", this.filters)
        .then(
          (response) => (
            (this.items = response.data.items),
            ((this.nbPage = Math.ceil(
              response.data.nb_total_item / this.itemsPerPage
            )),
            (this.sections = response.data.section_list_available),
            (this.categories = response.data.category_list_available),
            (this.brands = response.data.brand_list_available))
          )
        );
    },
    requestPage(page) {
      let skip = (page - 1) * this.itemsPerPage;
      this.filters.skip = skip;
      this.getItems();
    },
    orderFilter(selection) {
      console.log(selection);
      var orderBy = [];
      for (let i = 0; i < selection.length; i++) {
        var o = {};
        o.name = selection[i];
        o.order = "ASC";
        orderBy.push(o);
      }
      if (orderBy.length > 0) {
        this.filters.order_by = orderBy;
      } else {
        delete this.order_by;
      }
      this.getItems();
    },
    sectionFilter(value) {
      if (value != null) {
        this.filters.section_id_list = [value];
      } else {
        delete this.filters.section_id_list;
      }
      this.getItems();
    },
    categoryFilter(value) {
      if (value != null) {
        this.filters.category_id_list = [value];
      } else {
        delete this.filters.category_id_list;
      }
      this.getItems();
    },
    brandFilter(value) {
      if (value != null) {
        this.filters.brand_id_list = [value];
      } else {
        delete this.filters.brand_id_list;
      }
      this.getItems();
    },
    selectedList(list) {
      this.currentList = list;
    },
  },
};
</script>
