<template>
  <div class="d-flex flex-row" style="height: 100%; max-height: 100%">
    <DrawerList
      v-if="!$vuetify.breakpoint.xs"
      title="Mes listes de courses"
      subtitle="Sélectionner la liste à modifier"
      @selectedListId="setSelectedListId"
      :pageMode="pageMode"
    />
    <v-container>
      <div :class="mobileClass">
        <DrawerList
          v-if="$vuetify.breakpoint.xs"
          title="Mes listes de courses"
          subtitle="Sélectionner la liste à modifier"
          @selectedListId="setSelectedListId"
          :pageMode="pageMode"
          :mobile="true"
        />
        <CardList
          :items="listItems"
          @selectedPage="requestPage"
          @orderFilter="orderFilter"
          @sectionFilter="sectionFilter"
          @categoryFilter="categoryFilter"
          @brandFilter="brandFilter"
          :length="nbPage"
          :pageMode="pageMode"
          :selectedListId="selectedListId"
          :titleShoppingList="titleShoppingList"
          :itemsPerPage="userItemsPerPage"
          :sections="sections"
          :categories="categories"
          :brands="brands"
        />
      </div>
    </v-container>
  </div>
</template>

<script>
import DrawerList from "@/components/lists/DrawerList.vue";
import CardList from "@/components/lists/CardList.vue";
import { bus } from "@/main";

export default {
  name: "ShoppingListView",
  components: {
    DrawerList,
    CardList,
  },
  data: () => {
    return {
      listItems: [],
      pageMode: "shopping_list",
      userItemsPerPage: 10,
      selectedListId: null,
      nbPage: 1,
      titleShoppingList: "",
      filters: {
        skip: "0",
      },
      sections: {},
      categories: {},
      brands: {},
    };
  },
  methods: {
    getItems() {
      this.filters.limit = this.userItemsPerPage;

      this.$http
        .post(
          `/shopping_items/byShoppingList/${this.selectedListId}/filters`,
          this.filters
        )
        .then((response) => {
          console.log(response);
          this.$http.get("/shopping_lists/").then((shoppingLists) => {
            for (const elm in shoppingLists["data"]["shopping_items"]) {
              if (
                shoppingLists["data"]["shopping_items"][elm]["id"] ===
                this.selectedListId
              ) {
                this.titleShoppingList =
                  shoppingLists["data"]["shopping_items"][elm]["name"];
              }
            }
            this.nbPage = Math.ceil(
              response.data["nb_total_shopping_item"] / this.userItemsPerPage
            );
          });
          this.listItems = [];
          for (const elm in response.data["shopping_items"]) {
            const listItem = response.data["shopping_items"][elm];
            this.listItems.push({
              id: listItem["id"],
              brand: {
                name: listItem["item"]["brand"]["name"],
              },
              name: listItem["item"]["name"],
              section: {
                name: listItem["item"]["section"]["name"],
                color: listItem["item"]["section"]["color"],
              },
              category: {
                name: listItem["item"]["category"]["name"],
                color: listItem["item"]["category"]["color"],
              },
              quantityShoppingList: listItem["quantity"],
              default_quantity: listItem["item"]["default_quantity"],
              unit: listItem["item"]["unit"],
              expirationDate: listItem["expire_at"],
              img_path: listItem["item"]["img_path"],
            });
          }
          if (this.listItems.length === 0) {
            this.nbPage = 0;
          }
          this.sections = response.data.section_list_available;
          this.categories = response.data.category_list_available;
          this.brands = response.data.brand_list_available;
        });
    },
    requestPage(page) {
      console.log("req page ", page);
      this.filters.skip = (page - 1) * this.userItemsPerPage;
      this.getItems();
    },
    sectionFilter(value) {
      if (value != null) {
        this.filters.section_id_list = [value];
      } else {
        delete this.filters.section_id_list;
      }
      this.getItems();
    },
    orderFilter(selection) {
      console.log(selection);
      var orderBy = [];
      for (let i = 0; i < selection.length; i++) {
        var o = {};
        o.name = selection[i];
        o.order = "ASC";
        orderBy.push(o);
      }
      if (orderBy.length > 0) {
        this.filters.order_by = orderBy;
      } else {
        delete this.order_by;
      }
      this.getItems();
    },
    categoryFilter(value) {
      if (value != null) {
        this.filters.category_id_list = [value];
      } else {
        delete this.filters.category_id_list;
      }
      this.getItems();
    },
    brandFilter(value) {
      if (value != null) {
        this.filters.brand_id_list = [value];
      } else {
        delete this.filters.brand_id_list;
      }
      this.getItems();
    },
    setSelectedListId(value) {
      this.selectedListId = value;
      this.getItems();
    },
  },
  created() {
    bus.$on("syncShoppingItems", this.getItems);
  },
  computed: {
    mobileClass() {
      return this.$vuetify.breakpoint.xs ? "mt-3" : "ml-10 mt-8";
    },
  },
};
</script>
