<template>
  <v-autocomplete
    v-model="value"
    :items="items"
    item-text="name"
    item-value="id"
    dense
    :label="label"
    @change="$emit('dropdownEvent', value)"
    v-on:click:clear="$emit('dropdownEvent', null)"
    hide-details
    :prepend-icon="icon"
    clearable
  >
    <template v-slot:selection="data">
      <span class="custom-transform-class"> {{ data.item.name }} </span>
    </template>
    <template v-slot:item="data">
      <span class="custom-transform-class"> {{ data.item.name }} </span>
    </template>
  </v-autocomplete>
</template>
<script>
export default {
  name: "DropdownFilter",
  props: ["label", "items", "icon"],
  data: () => {
    return {
      value: "",
    };
  },
};
</script>

<style>
.custom-transform-class {
  text-transform: lowercase;
}
.custom-transform-class::first-letter {
  text-transform: uppercase;
}
</style>
