<template>
  <section id="about">
    <v-container fluid>
      <v-row align="center" justify="center">
        <!-- Section stock  -->
        <v-col cols="7" class="mt-10">
          <v-row align="center" justify="center">
            <v-col cols="12" md="5">
              <h1 class="font-weight-light display-2">
                Inventoriez vos produits alimentaires
              </h1>
              <v-divider class="ma-5"></v-divider>
              <p class="text-justify align-center">
                Savez-vous vraiment ce que vous avez chez vous ? Avec Cellarium
                vous le saurez en un coup d'oeil ! <br /><br />
                Vous pourrez visualiser l'ensemble de vos produits afin de mieux
                les gérer.
              </p>
            </v-col>
            <v-col cols="12" md="7" class="d-none d-md-flex">
              <v-img
                src="@/assets/img/about_1.svg"
                class="d-block ml-auto mr-auto"
                max-width="400px"
              />
            </v-col>
          </v-row>
        </v-col>
        <!-- Petite vague de background -->
        <div class="svg-border-rounded">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 320"
            preserveAspectRatio="none"
            fill="currentColor"
          >
            <path
              d="M0,64L80,90.7C160,117,320,171,480,181.3C640,192,800,160,960,138.7C1120,117,1280,107,1360,101.3L1440,
          96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
            ></path>
          </svg>
        </div>

        <!-- Section liste de course -->
        <v-col cols="7" class="ma-10">
          <v-row align="center" justify="center">
            <v-col cols="12" md="7" class="d-none d-md-flex">
              <v-img
                src="@/assets/img/about_2.svg"
                class="d-block ml-auto mr-auto"
                max-width="400px"
              />
            </v-col>
            <v-col cols="12" md="5" style="z-index: 1">
              <h1 class="font-weight-light display-2">
                Construisez vos listes de courses
              </h1>
              <v-divider class="ma-5"></v-divider>
              <p class="text-justify align-center">
                En sachant ce que vous avez, vous pouvez savoir ce dont vous
                avez besoin.
              </p>
            </v-col>
          </v-row>
        </v-col>
        <!-- Section anti gaspillage -->
        <v-col cols="7" class="ma-10">
          <v-row align="center" justify="center">
            <v-col cols="12" md="5" style="z-index: 1">
              <h1 class="font-weight-light display-2">
                Restez serein et ne gaspillez plus !
              </h1>
              <v-divider class="ma-5"></v-divider>
              <p class="text-justify align-center">
                Ayez une pleine maîtrise de votre alimentation.
              </p>
            </v-col>
            <v-col cols="12" md="7" class="d-none d-md-flex">
              <v-img
                src="@/assets/img/about_3.svg"
                class="d-block ml-auto mr-auto"
                max-width="400px"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<style scoped>
#about {
  background-color: #f4f7f5;
}

.svg-border-rounded svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
}
</style>
