<template>
  <section id="hero">
    <v-parallax src="@/assets/img/bg_home.jpg" height="850">
      <v-row align="center" justify="center">
        <v-col cols="10">
          <v-row align="center" justify="center">
            <v-col cols="12" md="6" xl="8">
              <v-card color="rgb(255, 255, 255, 0.7)" class="pa-5">
                <h1 class="display-2 font-weight-bold mb-4 primary--text">
                  Faites vos courses intelligemment
                </h1>
                <h1 class="font-weight-light secondary--text">
                  Cellarium vous permet d'inventorier l'ensemble de vos produits
                  alimentaires <br />
                  pour pouvoir vous y retrouver et vous aide à faire vos courses
                  !
                </h1>
                <v-btn
                  rounded
                  outlined
                  large
                  dark
                  @click="$vuetify.goTo('#features')"
                  class="mt-5 primary--text"
                  justify="center"
                >
                  En savoir +
                  <v-icon class="ml-2">mdi-arrow-down</v-icon>
                </v-btn>
              </v-card>
            </v-col>
            <v-col cols="12" md="6" xl="4" class="hidden-sm-and-down"> </v-col>
          </v-row>
        </v-col>
      </v-row>
      <div class="svg-border-waves text-white">
        <v-img src="@/assets/img/borderWaves.svg" />
      </div>
    </v-parallax>
    <v-container fluid id="features" class="mt-2">
      <v-row align="center" justify="center" class="mt-15">
        <v-col cols="10">
          <v-row align="center" justify="space-around">
            <v-col cols="12" class="text-center mb-6">
              <h1 class="font-weight display-2">
                Un projet 100% indépendant !
              </h1>
            </v-col>
            <v-col
              cols="12"
              sm="4"
              class="text-center"
              v-for="(feature, i) in features"
              :key="i"
            >
              <v-hover v-slot:default="{ hover }">
                <v-card
                  class="card"
                  shaped
                  :elevation="hover ? 10 : 4"
                  :class="{ up: hover }"
                >
                  <v-img
                    :src="feature.img"
                    max-width="100px"
                    class="d-block ml-auto mr-auto"
                    :class="{ 'zoom-efect': hover }"
                  ></v-img>
                  <h1 class="font-weight-regular">{{ feature.title }}</h1>
                  <h4 class="font-weight-regular subtitle-1">
                    {{ feature.text }}
                  </h4>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <div class="svg-border-waves">
      <img src="~@/assets/img/wave2.svg" />
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      features: [
        {
          img: require("@/assets/img/icon2.png"),
          title: "Pas de pub",
          text:
            "Cellarium n'affiche pas de publicité dans l'application. " +
            "Aucune marque ne peut payer pour mettre en avant ses produits.",
        },
        {
          img: require("@/assets/img/icon1.png"),
          title: "Aucune influence",
          text: "Aucune marque ni groupe industriel ne peut influencer la notation et les recommandations proposées.",
        },
        {
          img: require("@/assets/img/icon3.png"),
          title: "Données protégées",
          text:
            "Cellarium n'exploite ni ne revend aucune donnée des utilisateurs. " +
            "Ces données restent strictement confidentielles.",
        },
      ],
    };
  },
  watch: {
    dialog(value) {
      if (!value) {
        this.pause();
      }
    },
  },
  methods: {
    ready(event) {
      this.player = event.target;
    },
    // playing(event) {
    //   // The player is playing a video.
    // },
    change() {
      // when you change the value, the player will also change.
      // If you would like to change `playerVars`, please change it before you change `videoId`.
      // If `playerVars.autoplay` is 1, `loadVideoById` will be called.
      // If `playerVars.autoplay` is 0, `cueVideoById` will be called.
      this.videoId = "another video id";
    },
    stop() {
      this.player.stopVideo();
    },
    pause() {
      this.player.pauseVideo();
    },
  },
};
</script>

<style>
.svg-border-waves .v-image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  overflow: hidden;
}
#hero {
  z-index: 0;
}
.svg-border-waves img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: -2px;
  z-index: -1;
}
.card {
  min-height: 300px;
  padding: 10px;
  transition: 0.5s ease-out;
}
.card .v-image {
  margin-bottom: 15px;
  transition: 0.75s;
}
.card h1 {
  margin-bottom: 10px;
}
.zoom-efect {
  transform: scale(1.1);
}
.up {
  transform: translateY(-20px);
  transition: 0.5s ease-out;
}

section {
  position: relative;
}
</style>
