<template>
  <section>
    <v-parallax
      src="@/assets/img/pattern.png"
      height="500"
      style="background-color: rgba(255, 255, 255, 0.5)"
    >
      <v-container fluid>
        <v-row align="center" justify="center">
          <v-col cols="9">
            <v-row align="center" justify="center">
              <v-col sm="6" class="hidden-xs-only">
                <v-img
                  src="@/assets/img/mockup.png"
                  class="d-block ml-auto mr-auto"
                  max-width="600px"
                />
              </v-col>
              <v-col cols="12" sm="5" class="white--text text-left">
                <v-card elevation="6" outlined class="pa-5">
                  <p class="font-weight-light display-2 mb-2">
                    Rejoignez-nous !
                  </p>
                  <br />
                  <p class="font-weight-light">
                    C'est gratuit ! <br /><br />
                    Vous n'avez qu'à vous inscrire pour découvrir tout l'interêt
                    de Cellarium.
                  </p>
                  <v-btn
                    rounded
                    outlined
                    to="/account/register"
                    large
                    color="secondary"
                    class="mt-4"
                  >
                    <v-icon class="mr-2"> mdi-account-plus </v-icon>
                    S'inscrire
                  </v-btn>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-parallax>
  </section>
</template>
