<template>
  <v-menu
    v-model="dateMenu"
    :close-on-content-click="false"
    :nudge-width="40"
    transition="scale-transition"
    min-width="auto"
    class="mt-2"
    offset-y
    @input="changeDate"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="dateRange"
        prepend-icon="mdi-calendar"
        readonly
        v-bind="attrs"
        v-on="on"
        class="shrink"
        label="Période"
        outlined
      ></v-text-field>
    </template>
    <v-date-picker v-model="dateRange" range></v-date-picker>
  </v-menu>
</template>

<script>
export default {
  name: "DefaultDatePicker",
  props: ["dateRange"],
  data: () => ({
    dateMenu: false,
  }),
  methods: {
    changeDate: function () {
      if (this.dateMenu == false)
        if (this.dateRange[0] > this.dateRange[1]) {
          //If the range is in the wrong order,switch them
          let tmp = this.dateRange[0];
          this.dateRange[0] = this.dateRange[1];
          this.dateRange[1] = tmp;
        }
      this.$emit("receiveDate", this.dateRange);
    },
  },
  computed: {
    // a computed getter
    orderRange: function () {
      // `this` points to the vm instance
      return this.message.split("").reverse().join("");
    },
  },
};
</script>
