<template>
  <v-card elevation="5" max-width="800">
    <v-row justify="center">
      <v-card-title> Entrée/Sortie</v-card-title>
    </v-row>
    <v-row justify="center">
      <v-col cols="4">
        <DefaultDatePicker :dateRange="cDate" @receiveDate="receive" />
      </v-col>
    </v-row>
    <v-row justify="center">
      <InputOutputStockChart v-if="loaded" :chart-data="chartData" />
    </v-row>
  </v-card>
</template>

<script>
import InputOutputStockChart from "./InputOutputStockChart";
import DefaultDatePicker from "./DefaultDatePicker";

export default {
  name: "InputOutputStockChartCard",
  components: { DefaultDatePicker, InputOutputStockChart },
  data: () => {
    return {
      loaded: false,
      filters: {
        date_min: new Date(),
        date_max: new Date(),
      },
      chartData: null,
      cDate: [
        new Date(new Date().setDate(new Date().getDate() - 7))
          .toISOString()
          .substr(0, 10),
        new Date().toISOString().substr(0, 10),
      ],
    };
  },
  mounted() {
    this.loaded = false;
    this.render();
  },
  methods: {
    receive: function (dates) {
      this.cDate = dates;
      this.render();
    },
    render: function () {
      this.filters.date_min = this.cDate[0];
      this.filters.date_max = this.cDate[1];
      let query = new URLSearchParams(this.filters);
      let tabDataIn = [];
      let tabDataOut = [];
      let tabDataStock = [];
      let tabLabel = [];
      this.$http.get(`/stats/in_out_stock_count?${query}`).then((response) => {
        console.log(response.data);
        for (let i = 0; i < response.data.length; i++) {
          let time = new Date(response.data[i].io_date).toISOString();
          tabDataIn.push(response.data[i].in_count);
          tabDataOut.push(response.data[i].out_count);
          tabDataStock.push(response.data[i].stock_count);
          tabLabel.push(time);
        }
        this.chartData = {
          labels: tabLabel,
          datasets: [
            {
              label: "Entrée",
              data: tabDataIn,
              backgroundColor: "rgb(14,162,3)",
            },
            {
              label: "Sortie",
              data: tabDataOut,
              backgroundColor: "rgb(243,28,28)",
            },
            {
              type: "line",
              label: "Stock",
              fill: false,
              data: tabDataStock,
              borderColor: "rgb(42,28,243)",
            },
          ],
        };
        this.loaded = true;
      });
    },
  },
};
</script>
