<template>
  <v-card elevation="5" max-width="600">
    <v-row justify="center">
      <v-card-title> Distribution de votre consomation </v-card-title>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <DefaultDatePicker :dateRange="cDate" @receiveDate="receive" />
      </v-col>
      <v-col>
        <v-select v-model="selectedRayon" :items="rayon" label="Rayon" outlined>
        </v-select>
      </v-col>
    </v-row>
    <v-row justify="center">
      <SectionConsumptionChart />
    </v-row>
  </v-card>
</template>

<script>
import SectionConsumptionChart from "./SectionConsumptionChart";
import DefaultDatePicker from "./DefaultDatePicker";

export default {
  name: "SectionConsumptionChartCard",
  components: {
    DefaultDatePicker,
    SectionConsumptionChart,
  },
  data: () => {
    return {
      cDate: [
        new Date().toISOString().substr(0, 10),
        new Date().toISOString().substr(0, 10),
      ],
      selectedRayon: "Viande",
      rayon: ["Viande", "Produit laitier", "etc"],
    };
  },
  methods: {
    receive: function (dates) {
      this.cDate = dates;
    },
  },
};
</script>
