<template>
  <v-card elevation="5">
    <v-row justify="center">
      <v-card-title class="pt-2"> Nombres d'éléments gachés </v-card-title>
    </v-row>
    <v-row justify="center">
      <v-col cols="4">
        <DefaultDatePicker :dateRange="cDate" @receiveDate="receive" />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-container fluid>
        <WasteChart v-if="loaded" :chart-data="chartData" />
      </v-container>
    </v-row>
  </v-card>
</template>

<script>
import WasteChart from "./WasteChart";
import DefaultDatePicker from "./DefaultDatePicker";
export default {
  name: "WasteChartCard",
  components: {
    DefaultDatePicker,
    WasteChart,
  },
  data: () => {
    return {
      loaded: false,
      filters: {
        date_min: new Date(),
        date_max: new Date(),
      },
      chartData: null,
      cDate: [
        new Date(new Date().setDate(new Date().getDate() - 7))
          .toISOString()
          .substr(0, 10),
        new Date().toISOString().substr(0, 10),
      ],
    };
  },
  mounted() {
    this.loaded = false;
    this.render();
  },
  methods: {
    receive: function (dates) {
      this.cDate = dates;
      this.render();
    },
    render: function () {
      this.filters.date_min = this.cDate[0];
      this.filters.date_max = this.cDate[1];
      let query = new URLSearchParams(this.filters);
      let tabData = [];
      let tabLabel = [];
      this.$http.get(`/stats/waste_count?${query}`).then((response) => {
        for (let i = 0; i < response.data.length; i++) {
          let time = new Date(response.data[i].deleted_at).toISOString();

          let tmpvar = {
            t: time,
            y: response.data[i].wasted_count,
          };
          tabData.push(tmpvar);
          tabLabel.push(tmpvar.t);
        }
        this.chartData = {
          labels: tabLabel,
          datasets: [
            {
              label: "waste count",
              backgroundColor: "#1ee553",
              data: tabData,
            },
          ],
        };
        this.loaded = true;
      });
    },
  },
};
</script>

<style scoped></style>
