<template>
  <v-container>
    <v-toolbar-title v-if="pageMode === 'shopping_list'" class="mb-3 pl-4">
      {{ titleShoppingList }}
    </v-toolbar-title>
    <FilterBar
      class="mb-3 ml-3"
      :pageMode="pageMode"
      :psections="sections"
      :pcategories="categories"
      :pbrands="brands"
      @orderFilter="orderFilter"
      @sectionFilter="sectionFilter"
      @categoryFilter="categoryFilter"
      @brandFilter="brandFilter"
      @expireDateFilter="expireDateFilter"
      id="stick"
    />
    <v-container
      class="d-flex flex-row flex-wrap mb-6 justify-content-center"
      style="column-gap: 20px"
    >
      <template v-if="items != null && items.length > 0">
        <div v-for="(item, idx) in items" v-bind:key="idx">
          <!-- <template v-if="$vuetify.breakpoint.mobile"> -->
          <template v-if="$vuetify.breakpoint.xs">
            <HorizontalItemCard
              :item="item"
              :pageMode="pageMode"
              :currentList="currentList"
              style="margin-left: 10em"
              @refresh="refresh"
            ></HorizontalItemCard>
          </template>
          <template v-else>
            <ItemCard
              :item="item"
              :pageMode="pageMode"
              :currentList="currentList"
              style="margin-left: 10em"
              @refresh="refresh"
            ></ItemCard>
          </template>
        </div>
      </template>
      <template v-else-if="length === 0">
        <v-card width="510" height="530" class="mb-7">
          <v-card-title
            v-if="pageMode === 'shopping_list' || pageMode === 'stock'"
          >
            Aucun produit
          </v-card-title>
          <v-card-title v-else>
            Aucun produit ne correspond à votre recherche
          </v-card-title>
          <v-card-text>
            <v-img width="500" height="500" src="@/assets/img/noResults.svg" />
          </v-card-text>
        </v-card>
      </template>
      <template v-else>
        <div v-for="(skeleton, idx) in skeletons" v-bind:key="idx">
          <v-skeleton-loader
            class="my-3"
            width="250"
            type="card, actions"
          ></v-skeleton-loader>
        </div>
      </template>
    </v-container>
    <v-tooltip left>
      <template v-slot:activator="{ on, attrs }">
        <v-fab-transition v-if="pageMode === 'shopping_list'">
          <v-btn
            fab
            x-large
            color="accent"
            elevation="5"
            class="v-btn--grocery"
            v-bind="attrs"
            v-on="on"
            :to="{
              name: 'GroceryView',
              params: { selectedListId: selectedListId },
            }"
          >
            <v-icon color="white"> mdi-cart </v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>Go do grocery</span>
    </v-tooltip>
    <v-bottom-navigation absolute style="z-index: 1">
      <v-pagination
        v-model="page"
        :length="length"
        class="py-2"
        circle
        :total-visible="7"
        @input="selectedPage"
      ></v-pagination>
    </v-bottom-navigation>
  </v-container>
</template>

<script>
import ItemCard from "@/components/items/ItemCard.vue";
import HorizontalItemCard from "@/components/items/HorizontalItemCard.vue";
import FilterBar from "@/components/filters/FilterBar.vue";

export default {
  name: "CardList",
  props: [
    "items",
    "length",
    "pageMode",
    "itemsPerPage",
    "titleShoppingList",
    "currentList",
    "sections",
    "categories",
    "brands",
    "selectedListId",
  ],
  components: {
    ItemCard,
    HorizontalItemCard,
    FilterBar,
  },
  data: () => {
    return {
      page: 1,
      skeletons: 20,
    };
  },
  mounted() {
    if (this.itemsPerPage !== undefined) {
      this.skeletons = this.itemsPerPage;
    }
  },
  methods: {
    selectedPage(page) {
      this.$emit("selectedPage", page);
    },
    orderFilter(selection) {
      this.$emit("orderFilter", selection);
    },
    sectionFilter(value) {
      this.$emit("sectionFilter", value);
    },
    categoryFilter(value) {
      this.$emit("categoryFilter", value);
    },
    brandFilter(value) {
      this.$emit("brandFilter", value);
    },
    expireDateFilter(value) {
      this.$emit("expireDateFilter", value);
    },
    refresh() {
      this.$emit("refresh");
    },
  },
};
</script>

<style>
.v-btn--grocery {
  position: sticky;
  margin-bottom: 75px;
  bottom: 100px;
  float: right;
}
</style>
