<template>
  <v-container fill-height v-if="pageMode === 'grocery'">
    <v-row no-gutters>
      <v-col>
        <v-card outlined color="transparent">
          <v-card height="400px" width="600px" class="mx-auto">
            <v-card-title>{{ title }}</v-card-title>
            <v-card-subtitle>{{ subtitle }}</v-card-subtitle>
            <v-divider></v-divider>
            <v-navigation-drawer width="100%" height="80%" permanent>
              <v-list dense>
                <v-list-item-group
                  color="primary"
                  v-if="items != null && items.length > 0"
                >
                  <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    @click="selectedListId(item.id)"
                    :disabled="getPreviewItems(item) === 'Liste vide'"
                  >
                    <template>
                      <v-list-item-icon>
                        <v-icon
                          :disabled="getPreviewItems(item) === 'Liste vide'"
                        >
                          mdi-cart</v-icon
                        >
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="item.name"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-text="getPreviewItems(item)"
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-list-item>
                </v-list-item-group>
                <template v-else>
                  <v-skeleton-loader type="list-item"></v-skeleton-loader>
                  <v-skeleton-loader type="list-item"></v-skeleton-loader>
                </template>
              </v-list>
            </v-navigation-drawer>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <div v-else-if="pageMode === 'shopping_list'" :class="shoppingDivClass">
    <v-card :class="shoppingCardClass">
      <v-card-title>{{ title }}</v-card-title>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <v-subheader>Gérer vos listes</v-subheader>
        <v-list>
          <v-dialog v-model="dialogCreate" persistent max-width="290">
            <template v-slot:activator="{ on, attrs }">
              <v-list-item v-bind="attrs" v-on="on">
                <v-list-item-icon>
                  <v-icon> mdi-cart-plus </v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Créer une liste</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Création de liste</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col>
                      <v-text-field
                        v-model="creationListName"
                        label="Nom de la liste*"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
                <small>* : champs requis</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary" text @click="dialogCreate = false">
                  Annuler
                </v-btn>
                <v-btn color="secondary" text @click="createShoppingList()">
                  Créer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" persistent max-width="290">
            <template v-slot:activator="{ on, attrs }">
              <v-list-item v-bind="attrs" v-on="on">
                <v-list-item-icon>
                  <v-icon> mdi-cart-minus </v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Supprimer une liste</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Supression de liste</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col>
                      <v-select
                        v-model="deletionListId"
                        :items="items"
                        label="Selectionner une liste"
                        item-text="name"
                        item-value="id"
                      ></v-select>
                    </v-col>
                  </v-row>
                </v-container>
                <small>* : champs requis</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary" text @click="dialogDelete = false">
                  Annuler
                </v-btn>
                <v-btn color="secondary" text @click="deleteShoppingList()">
                  Supprimer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-list>
      </v-card-text>
      <v-divider></v-divider>
      <v-subheader>Sélectionner votre liste</v-subheader>
      <v-card-text class="v-card-text--shopping_list_list pa-0">
        <v-list dense nav>
          <v-list-item-group
            v-model="selectedItem"
            color="primary"
            v-if="items !== null && items.length > 0"
            mandatory
          >
            <v-list-item
              v-for="(item, i) in items"
              :key="i"
              @click="selectedListId(item.id)"
            >
              <template>
                <v-list-item-icon>
                  <v-icon> mdi-cart</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.name"></v-list-item-title>
                  <v-list-item-subtitle
                    v-text="getPreviewItems(item)"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-item-group>
          <template v-else>
            <v-skeleton-loader type="list-item"></v-skeleton-loader>
            <v-skeleton-loader type="list-item"></v-skeleton-loader>
          </template>
        </v-list>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { bus } from "@/main";

export default {
  name: "DrawerList",
  props: ["title", "subtitle", "pageMode", "mobile"],
  data() {
    return {
      items: null,
      right: null,
      selectedItem: 0,
      dialogCreate: false,
      dialogDelete: false,
      creationListName: null,
      deletionListId: null,
    };
  },
  created() {
    this.getLists();
    bus.$on("syncShoppingItems", this.getLists);
  },
  computed: {
    shoppingDivClass() {
      return this.mobile ? "" : "div--shopping_list";
    },
    shoppingCardClass() {
      return this.mobile ? "ml-4 mt-2" : "v-card--shopping_list ml-4 mt-2";
    },
  },
  methods: {
    getPreviewItems(item) {
      var previewItems = "";
      for (let i = 0; i < item.shopping_items.length; i++) {
        if (i !== item.shopping_items.length - 1) {
          previewItems += item.shopping_items[i].item.name;
          previewItems += ", ";
        } else {
          previewItems += item.shopping_items[i].item.name;
        }
      }
      return previewItems || "Liste vide";
    },
    selectedListId(listId) {
      this.$emit("selectedListId", listId);
    },
    createShoppingList() {
      this.$http
        .post("/shopping_lists/", {
          name: this.creationListName,
          user_id: this.$store.getters.getUser.id,
        })
        .then((response) => {
          if (response.status === 200) {
            this.getLists();
            this.dialogCreate = false;
          }
        })
        .catch((error) => {
          if (error.response) {
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            console.log(error.request);
          } else {
            console.log("Error", error.message);
          }
          console.log(error.config);
        });
    },
    deleteShoppingList() {
      this.$http
        .delete("/shopping_lists/" + this.deletionListId)
        .then((response) => {
          if (response.status === 200) {
            this.getLists();
            this.dialogDelete = false;
          }
        })
        .catch((error) => {
          if (error.response) {
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            console.log(error.request);
          } else {
            console.log("Error", error.message);
          }
          console.log(error.config);
        });
    },
    getLists() {
      this.$http
        .get("/shopping_lists/")
        .then((response) => (this.items = response.data))
        .finally(() => {
          if (this.items !== null && this.pageMode === "shopping_list") {
            this.selectedListId(this.items[this.selectedItem].id);
          }
        });
    },
  },
};
</script>

<style>
.div--shopping_list {
  width: 20%;
  height: 50%;
  margin-top: 32px;
  z-index: 1;
  margin-right: 25px;
}

.v-card--shopping_list {
  position: fixed;
  display: flex !important;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: auto;
}

.v-card-text--shopping_list_list {
  min-height: 42.5%;
  flex-grow: 1;
  overflow: auto;
}
</style>
