<template>
  <v-toolbar class="mt-3" floating rounded max-width="550">
    {{ title }}
    <v-autocomplete
      class="ml-3"
      :items="items"
      item-text="name"
      item-value="id"
      hide-details
      @change="selectedList"
    >
      <template v-slot:prepend>
        <v-icon>{{ image }}</v-icon>
      </template>
    </v-autocomplete>
  </v-toolbar>
</template>

<script>
export default {
  name: "QuickList",
  props: ["title", "image"],
  data() {
    return {
      items: [],
      selectedItem: 0,
    };
  },
  mounted() {
    this.getItems();
  },
  methods: {
    selectedList(item) {
      this.$emit("selectedItem", item);
    },
    getItems() {
      this.$http
        .get("/shopping_lists/")
        .then((response) => (this.items = response.data));
    },
  },
};
</script>
