<template>
  <v-card class="elevation-12">
    <v-form ref="form" v-model="valid" lazy-validation @submit="login">
      <v-alert type="error" v-if="errors.length" class="ma-2">
        Problème d'identification :
        <ul>
          <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
        </ul>
      </v-alert>
      <v-card-text>
        <v-text-field
          v-model="usernameEmail"
          :rules="[rules.required, rules.counter]"
          prepend-icon="mdi-account"
          label="Email ou Nom d'utilisateur "
          outlined
          required
          :error-messages="usernameEmail.error"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :rules="[rules.required]"
          prepend-icon="mdi-lock"
          label="Mot de passe"
          type="password"
          outlined
          required
        ></v-text-field>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          x-large
          color="primary"
          :disabled="!valid"
          :loading="loading"
          type="submit"
          >Se connecter
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: "LoginSection",
  data() {
    return {
      usernameEmail: "",
      password: "",
      rules: {
        required: (value) => !!value || "Requis",
        counter: (value) => value.length >= 4 || "Minimum 4 caractères",
      },
      loading: false,
      errors: [],
    };
  },
  methods: {
    async login() {
      this.errors = [];
      this.loading = true;
      let scope = "default";

      try {
        let email = this.usernameEmail.includes("@");
        let response = undefined;

        if (!email) {
          response = await this.$http.post(
            "/security/token/username",
            `username=${this.usernameEmail}&password=${this.password}&scope=${scope}`
          );
        } else {
          response = await this.$http.post(
            "/security/token/email",
            `username=${this.usernameEmail}&password=${this.password}&scope=${scope}`
          );
        }

        if (response != undefined) {
          let token = await response.data.access_token;
          localStorage.setItem("token", token);
          this.$http.defaults.headers.common[
            "Authorization"
          ] = `Bearer ${token}`;
          await this.getUser();
        }
        this.loading = false;
      } catch (error) {
        if (error.response) {
          if (error.response.status == 422)
            await this.errors.push("Error login");
          else {
            await this.errors.push("Identifiant incorrect");
          }
        } else {
          this.errors.push("Identifiant incorrect");
        }
        this.loading = false;
      }
    },
    async getUser() {
      try {
        let response = await this.$http.get("/users/my");

        if (response != undefined) {
          let user = await response.data;
          await this.$store.commit("setUser", user);
          this.$router.push("/");
        }
      } catch (error) {
        if (error.response) this.errors.push("Token Error");
      }
    },
  },
};
</script>
