<template>
  <v-card class="elevation-12">
    <v-form ref="form" v-model="valid" lazy-validation @submit="register">
      <v-alert type="error" v-if="errors.length" class="ma-2">
        Problème dans l'inscription :
        <ul>
          <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
        </ul>
      </v-alert>
      <v-alert type="success" v-if="registerSuccess" class="ma-2">
        Votre compte a bien été créé ! Vous pouvez maintenant vous identifier
      </v-alert>
      <v-card-text>
        <v-text-field
          v-model="username"
          :rules="[rules.required, rules.counter]"
          prepend-icon="mdi-account"
          label="Nom d'utilisateur"
          outlined
        ></v-text-field>
        <v-text-field
          v-model="email"
          :rules="[rules.required, rules.email]"
          prepend-icon="mdi-at"
          label="Email"
          outlined
        ></v-text-field>
        <v-text-field
          v-model="password"
          :rules="[rules.required]"
          prepend-icon="mdi-lock"
          label="Mot de passe"
          type="password"
          outlined
        ></v-text-field>
        <v-text-field
          v-model="passwordConfirm"
          :rules="[rules.required]"
          prepend-icon="mdi-lock-check"
          label="Confirmation du mot de passe"
          type="password"
          outlined
        ></v-text-field>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn x-large color="primary" :disabled="!valid" type="submit"
          >S'inscrire
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: "RegisterSection",
  data() {
    return {
      username: "",
      email: "",
      password: "",
      passwordConfirm: "",
      rules: {
        required: (value) => !!value || "Requis",
        counter: (value) => value.length >= 4 || "Minimum 4 caractères",
        email: (value) => /.+@.+\..+/.test(value) || "E-mail doit être valide",
      },
      loading: false,
      errors: [],
      registerSuccess: false,
    };
  },
  methods: {
    async checkIfUsernameIsAvailable() {
      try {
        let response = await this.$http.get(
          `/users/isUsernameAvailable/?username=${this.username}`
        );

        if (response != undefined) return response.data;
      } catch (error) {
        if (error.response) await this.errors.push("API Error");
      }
    },
    async checkIfEmailIsAvailable() {
      try {
        let response = await this.$http.get(
          `/users/isEmailAvailable/?email=${this.email}`
        );

        if (response != undefined) return response.data;
      } catch (error) {
        if (error.response) await this.errors.push("API Error");
      }
    },
    async register() {
      this.errors = [];
      let checkUsername = await this.checkIfUsernameIsAvailable();
      let checkEmail = await this.checkIfEmailIsAvailable();

      if (!checkUsername)
        await this.errors.push("Nom d'utilisateur déjà utilisé");
      if (!checkEmail) await this.errors.push("Adresse mail déjà utilisé");

      if (
        this.password === this.passwordConfirm &&
        checkUsername &&
        checkEmail
      ) {
        try {
          let response = await this.$http.post("/users/register", {
            username: this.username,
            email: this.email,
            password: this.password,
          });

          if (response != undefined) {
            this.registerSuccess = true;
          }
        } catch (error) {
          if (error.response) await this.errors.push("Register Error");
        }
      } else {
        await this.errors.push("Les mots de passes ne correspondent pas");
      }
    },
  },
};
</script>
