<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="pt-0">
          <v-tabs
            show-arrows
            background-color="primary"
            icons-and-text
            dark
            grow
          >
            <v-tabs-slider color="secondary"></v-tabs-slider>
            <v-tab v-for="i in tabs" :key="i">
              <div class="ma-0">
                <v-icon left large>{{ i.icon }}</v-icon>
                {{ i.name }}
              </div>
            </v-tab>
            <v-tab-item>
              <LoginSection />
            </v-tab-item>
            <v-tab-item>
              <RegisterSection />
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import LoginSection from "../../components/account/LoginSection";
import RegisterSection from "../../components/account/RegisterSection";

export default {
  name: "Home",
  components: {
    LoginSection,
    RegisterSection,
  },
  data: () => ({
    dialog: true,
    tab: 0,
    tabs: [
      { name: "S'identifier", icon: "mdi-lock-open" },
      { name: "S'inscrire", icon: "mdi-pencil" },
    ],
  }),
};
</script>
