<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-toolbar dark color="primary">
              <v-toolbar-title>Vos informations personnelles</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-alert type="success" v-if="modificationSuccess" class="ma-2">
                Vos informations ont bien été modifier !
              </v-alert>
              <v-alert type="error" v-if="modificationError" class="ma-2">
                Erreur lors la validation de vos modifications !
              </v-alert>
              <v-text-field
                v-model="username"
                :rules="[rules.required, rules.counter]"
                prepend-icon="mdi-account"
                label="Nom d'utilisateur"
                counter
                outlined
                class="mt-3"
              ></v-text-field>
              <v-text-field
                v-model="email"
                :rules="[rules.required]"
                prepend-icon="mdi-at"
                label="Email"
                outlined
              ></v-text-field>
              <v-row>
                <v-col cols="9">
                  <v-text-field
                    v-model="password"
                    prepend-icon="mdi-lock"
                    label="Mot de passe*"
                    value="password"
                    outlined
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="3">
                  <v-btn
                    text
                    color="secondary"
                    class="ma-2"
                    to="/account/change-password"
                  >
                    <v-icon left> mdi-pencil </v-icon>
                    Modifier
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn
                x-large
                color="primary"
                @click="updateAccount()"
                :disabled="!valid"
                >Enregistrer
              </v-btn>
            </v-card-actions>
            <v-divider class="ma-4"></v-divider>
            <v-card-actions>
              <v-alert type="error" v-if="deleteError" class="ma-2">
                Erreur lors la suppression de votre compte, veuillez recommencer
                !
              </v-alert>
              <v-dialog v-model="dialog" width="500">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn text color="error" v-bind="attrs" v-on="on">
                    <v-icon left> mdi-emoticon-sad </v-icon>
                    Supprimer mon compte
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title class="text-h6 grey lighten-2">
                    <v-icon left color="red"> mdi-alert </v-icon>
                    Suppression de compte ?
                  </v-card-title>

                  <v-card-text class="mt-3">
                    Êtes-vous sûr de vouloir supprimer votre compte ?
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red" text @click="deleteAccount()" outlined>
                      Oui
                    </v-btn>
                    <v-btn
                      color="primary"
                      text
                      @click="dialog = false"
                      outlined
                    >
                      Non
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "AccountPageView",
  data() {
    return {
      username: null,
      email: null,
      rules: {
        required: (value) => !!value || "Requis",
        counter: (value) => value.length >= 4 || "Minimum 4 caractères",
      },
      modificationSuccess: false,
      modificationError: false,
      deleteError: false,
      dialog: false,
    };
  },
  created() {
    this.updateUser();
  },
  methods: {
    async updateUser() {
      let user = this.$store.getters.getUser;
      this.username = user.username;
      this.email = user.email;
    },
    async updateAccount() {
      try {
        let response = await this.$http.put("/users/my", {
          username: this.username,
          email: this.email,
        });

        if (response !== undefined) {
          await this.getUser();
          await this.updateUser();
          this.modificationSuccess = true;
        }
      } catch (error) {
        if (error.response) this.modificationError = true;
      }
    },
    async deleteAccount() {
      try {
        let response = await this.$http.delete("/users/my");

        if (response !== undefined) {
          this.$store.dispatch("logout").then(() => {
            this.$router.push("/");
          });
        }
      } catch (error) {
        if (error.response) this.deleteError = true;
      }
    },
    async getUser() {
      try {
        let response = await this.$http.get("/users/my");

        if (response != undefined) {
          let user = await response.data;
          await this.$store.commit("setUser", user);
        }
      } catch (error) {
        if (error.response) this.modificationError = true;
      }
    },
  },
};
</script>
